---
---

@import "variables";

#wrapper-content {
  margin-bottom: 120px;

  @include mobile {
    margin-bottom: 0px;
  }
}

#page-content {
  text-align: center;
}

#home-buttons {
  // margin: 45px 0;
  display: none;

  @include mobile {
    display: block;
    margin: 35px 0;
  }
}
