---
---

@import "variables";

#wrapper-content {
  margin-bottom: 120px;

  @include mobile {
    margin-bottom: 0px;
  }
}

#page-header {
  @include mobile {
    padding: 0;
  }
}

#page-content {
  >.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.social-links {
  margin-top: 20px;
}

.posts {
  margin-top: 80px;

  @include mobile {
    margin-top: 50px;
  }
}

.avatar {
  max-width: 400px;

  @include mobile {
    max-width: 260px;
  }
}
