---
layout: page
custom_css: home.css

description: "A page about myself."

header: ""
---

<div class="avatar">
  {% include image.html src="/assets/dawid_avatar.jpg" alt="Dawid's photo" img_class="" dont_show_caption=true %}
</div>

<div class="posts">
  {% for post in site.posts %}
    <article class="post-preview" onclick="location.href='{{ site.baseurl }}{{ post.url }}';">
      <section>
        <h1 class="post-preview-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <span class="date">{{ post.date | date: "%b %e, %Y" }} &middot; {{ post.read_time }} min read</span>
      </section>

      <a href="{{ site.baseurl }}{{ post.url }}">→</a>
    </article>
  {% endfor %}
</div>
