---
---

// Imports
@import "reset";
@import "variables";
@import "header";
@import "navigation";
@import "newsletter";
@import "footer";

html {
  font-size: 100%;
}

body {
  font: $smaller $font;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: -.01rem;
	background: $white;
  color: $primary;

  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  // text-rendering: optimizeLegibility;
}

.preload * {
  transition: none !important;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 760px;
  padding: 0 20px;
  width: 100%;
  height: 100%;

  @include mobile {
    padding: 0 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.025rem;
  margin: 1em 0 15px;
  padding: 0;
}

h1 {
  font-size: $bigger;
  a {
    color: inherit;
  }

  @include mobile {
    font-size: $big;
  }
}

h2 {
  font-size: $big;

  @include mobile {
    font-size: $medium;
  }
}

h3 {
  font-size: $medium;

  @include mobile {
    font-size: $small;
  }
}

h4 {
  font-size: $small;

  @include mobile {
    font-size: $smaller;
  }
}

p {
  margin-top: 20px;
  margin-bottom: 25px;

  @include mobile {
    margin-bottom: 20px;
  }
}

a {
  color: $ternary;
  text-decoration: none;
	cursor: pointer;
  transition: background-color .1s ease-in-out, border-color .1s ease-in-out, color .1s ease-in-out, opacity .1s ease-in-out;

  &:hover, &:active {
    color: $lighterGrey;
  }

  &.link-small {
    font-size: $smallest;
  }

  &.link-tag {
    color: $lighterGrey;

    &:hover, &:active {
      color: $lightGrey;
    }
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-size: $tiny;
  color: $lighterGrey;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

#wrapper-page {
  position: relative;
  min-height: 100%;
  min-width: 320px;
}

#wrapper-content {
  .container {
    max-width: 660px;
  }
}

// Page

#page-header {
  padding-top: 50px;

  @include mobile {
    padding-top: 30px;
  }
}

#page-title {
  color: $primary;
  font-weight: 700;
  font-size: $biggest;
  letter-spacing: -0.025rem;
  word-spacing: -1px;
  text-align: center;

  margin: auto;
  margin-bottom: 15px;

  @include mobile {
    // font-size: $bigger;
  }
}

#page-subtitle {
  color: $secondary;
  font-size: $small;
  text-align: center;

  @include mobile {
    font-size: $smaller;
  }
}

#page-image {
  display: inline-block;
  height: auto;
  width: 100%;
  max-width: 100%;
  padding-bottom: 41%; // aspect ratio = height/width*100%

  background-image: url("/assets/dylowicz.jpg");
  background-attachment: fixed;   // Create the parallax scrolling effect
  background-repeat: no-repeat;
  background-position: 0 60px;
  background-size: contain;

  // Reset parallax for mobile
  @include mobile {
    background-attachment: scroll;
    background-position: 0 0;
  }
}

// blog

// Posts preview on /blog

.posts {
  width: 100%;
  padding-top: 30px;

  @include mobile {
    padding-top: 20px;
  }
}

.post-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  z-index: 0;

  padding: 15px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.075);
  border-radius: 2px;

  transition: 0.2s all;

  &:hover, &:active {
    box-shadow: 3px 6px 16px rgba(0, 0, 0, 0.1);
    transform: scale(1.005);
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include mobile {
    padding: 10px;
  }

  a {
    color: $primary;
  }
}

.post-preview-title {
  font-size: $medium;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 5px;

  @include mobile {
    font-size: $small;
  }
}

.date {
  font-size: $smallest;
  color: $lighterGrey;
}

// custom implementations

.button {
  display: inline-block;
  min-height: 50px;
  line-height: 45px;
  padding: 0 15px;
  border: 2px solid;
  border-radius: 2px;

  font-size: $smaller;
  font-weight: 500;

  transition: all .15s ease-in-out;
  -webkit-appearance: none;
  cursor: pointer;

  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &.button-primary {
    color: $lightestGrey;
    background-color: $darkerGrey;
    border: 2px solid $darkerGrey;

    &:hover, &:active {
      background-color: $grey !important;
      border: 2px solid $grey !important;
    }
  }

  &.button-secondary {
    color: $darkerGrey;
    background-color: inherit;
    border: 2px solid $darkerGrey;

    &:hover, &:active {
      color: $lighterGrey;
      border: 2px solid $lighterGrey;
    }
  }

  &.button-ternary {
    border: none;
    font-weight: 400;
  }

  &.button-slanted {
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);

    padding: 0 20px;

    &:first-child {
      margin-left: 10px;
    }

    @include mobileSmall {
      padding: 0 15px;
    }

    >span {
      -ms-transform: skewX(15deg);
      -webkit-transform: skewX(15deg);
      transform: skewX(15deg);

      display: inline-block;
    }
  }

  @include mobile {
    font-size: $smallest;
  }
}

.dot {
  height: 9px;
  width: 9px;
  background-color: $lightestGrey;
  border-radius: 50%;
  display: inline-block;

  &.space {
    margin-left: 1px;
  }

  @include mobile {
    height: 7px;
    width: 7px;
  }

  @include mobileSmall {
    height: 5px;
    width: 5px;
  }
}

// Icons

.icon {
  &-tiny {
    width: 26px;
    height: 26px;
  }

  &-small {
    width: 64px;
    height: 64px;
  }

  &-medium {
    width: 96px;
    height: 96px;
  }

  &-big {
    width: 128px;
    height: 128px;
  }

  &-massive {
    width: 256px;
    height: 256px;
  }
}

// Boxes

.boxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  flex: 1 1 auto;
  margin: 10px;
  width: 280px;

  border-radius: 3px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
  &:hover, &:active {
    box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.12);
  }

  &-link {
    transition: 0.2s;
    z-index: 0;

    &:hover, &:active {
      cursor: pointer;
      transform: scale(1.005);
    }
  }

  @include mobile {
    min-width: 200px;
  }
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px 10px;

  p {
    margin: 15px 0;
  }
}

// social links

.social-links {
  a {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    @include mobile {
      padding: 2px;
    }
  }
}

.avatar {
  // border: 2px solid $secondary;
  // border-radius: 50%;
  overflow: hidden;

  img {
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
    z-index: 0;
  }

  &-medium {
    width: 100px;
    height: 100px;
  }

  &-big {
    width: 132px;
    height: 132px;
  }

  &-massive {
    width: 260px;
    height: 260px;
  }
}
