// Footer

#wrapper-footer {
 width: 100%;
 margin-top: 50px;
 margin-bottom: 150px;

 @include mobile {
   margin-bottom: 60px;
 }

 a {
   color: $lighterGrey;

   &:hover {
     color: $lightGrey;
   }
 }

 &.home {
   padding: 0;
 }
}

#site-footer {
 width: 100%;
 padding-top: 20px;

 >.container {
   border-top: 1px solid $lightestGrey;
   max-width: 720px;
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.footer-container {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  // text-align: left;
  height: 100%;
  margin: 5px;

  h4 {
    font-size: $smallest;
  }

  @include mobile {
    margin-top: 10px;

    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}

.footer-section {
  font-size: $smallest;
  margin-top: 15px;

  @include mobile {
    text-align: center;
    align-items: center;
    margin-top: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-top: 5px;

      @include mobile {
        margin-top: 10px;
      }
    }
  }

  p {
    margin: 0;
  }
}

#footer-credits {
 color: $lighterGrey;
 text-transform: lowercase;
 // padding-bottom: 50px;
}

#footer-social {
  // margin-top: 40px;
}
