#wrapper-header {
  >.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Header

#site-header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 30px 0;

  @include mobile {
    flex-direction: column;
  }
}

#site-name {
  margin: 0;
  color: $primary;
  cursor: pointer;

  font-weight: 700;
  font-size: $big;
  word-spacing: 0.05rem;

  @include mobile {
    font-size: $medium;
  }
}
