#site-navigation {
  margin: auto;
  margin-right: 0;

  @include mobile {
    margin: auto;
    
    font-size: $smallest;
  }
}

#menu {
  list-style-type: none;

  padding-left: 0;

  li {
    display: inline-block;

    margin-left: 30px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  a {
    text-align: center;

    color: $secondary;
    font-weight: 400;
    font-size: $small;

    letter-spacing: -0.025rem;
  }
}
