// sizes
$massive: 4rem;
$biggest: 3rem;
$bigger: 2.25rem;
$big: 1.75rem;
$medium: 1.5rem;
$small: 1.25rem;
$smaller: 1.125rem;
$smallest: 1rem;
$tiny: 14px;

// colors
$blue: #005bed;

// grays
$white: #fff;
$lightestGrey: #eee;
$lighterGrey: #a6a6a6;
$lightGrey: #bebebe;
$grey: #555;
$darkGrey: #3a3a3a;
$darkerGrey: #1a1a1a;

$primary: $darkerGrey;
$secondary: $grey;
$ternary: $blue;

// fonts
$font: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;

// mobile
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// small mobile
@mixin mobileSmall {
  @media screen and (max-width: 320px) {
    @content;
  }
}
