---
---

@import "variables";

#wrapper-content {
  .container {
    max-width: 720px;
  }
}

#work-links {
  margin-bottom: 100px;
  
  @include mobile {
    margin-bottom: 20px;
  }
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 320px;
  
  @include mobile {
    width: 280px;
  }
}

.box-container {
  text-align: center;

  p {
    color: $secondary;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
